body {
    margin: auto;
    background-color: rgb(27, 27, 27);
    color: rgb(250, 250, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-div {
    max-width: 60%;
    margin: auto;
}

.header {
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid black;
}

.header h1 {
    margin: 5px;
}

.header img {
    height: 256px;
    border-radius: 25px;
    margin: -10px;
    cursor: pointer;
}

.inputs {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    max-width: 50%;
}

.inputs input {
    width: 100%;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(27, 27, 27);
}

#term {
    border-bottom: 2px solid black;
    font-size: 1.1em;
    height: 240px;
}

#term p,
#term h2,
#term h4 {
    max-width: fit-content;
    background-color: rgb(5, 5, 5);
    padding: 5px 10px;
    border-radius: 5px;
}

#term h2 {
    font-size: 2em;
    margin-bottom: -20px;
}

#term #singularity {
    background-color: inherit;
}

#filter-buttons {
    background-image: url('img/filterBG.jpg');
    background-position: center;
    background-size: cover;
    background-position-y: -100px;
    width: fit-content;
    margin-top: 10px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding: 1em;
}

#filter-buttons button {
    max-width: 200px;
    width: 180px;
    height: 20px;
    font-weight: 700;
    text-decoration: none;
    outline: 1px solid beige;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px 10px;
}

#filter-buttons button:hover {
    transition: .5s;
    font-weight: bold;
    font-size: 1.1em;
}

#back-to-top {

    width: 100px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
}

#back-to-top:hover {
    transition: .5s;
    width: 120px;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: auto;
    background-color: rgb(36, 36, 36);
    max-width: none;
    height: 100px;
}

footer svg {
    margin-top: 10px;
}

@media(max-width: 768px) {
    body {
        text-align: center;
        margin: auto;
    }
    .content-div {
        text-align: center;
        margin: auto;
        max-width: 100%;
    }
    #term {
        margin: auto;
        border-bottom: 2px solid black;
        font-size: 1.1em;
        height: auto;
    }
    #term p,
    #term h2,
    #term h4 {
        max-width: max-content;
        background-color: rgb(5, 5, 5);
        padding: 5px 10px;
        border-radius: 5px;
    }
    #back-to-top {
        width: 60px;
        position: fixed;
        bottom: 10px;
        left: 10px;
        cursor: pointer;
    }
    #back-to-top:hover {
        transition: .5s;
        width: 60px;
    }
}